:root{
    --main-yellow: #FFF500;
    --dark-gray: #1D1D1F;
    --light-gray: #F9F9F9;
}
/***** Custom size margins *****/


/***** HTML Tags *****/
body{
    background-color: var(--light-gray);
    overflow-x: hidden;
    min-width: 320px;
}
h1{
    font-family: 'JetBrains Mono';
    font-weight: 300;
    line-height: 130%;
    letter-spacing: -1%;
    font-size: clamp(37px, 5vw, 63px);
}
h3{
    font-family: 'JetBrains Mono';
    font-weight: 300;
    font-size: 25px;
}
h5{
    font-size: 10px;
    font-weight: 500;
}
p{
    font-family: 'JetBrains Mono';
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: var(--dark-gray);
}
/***** Navbar *****/
.navbar{
    background-color: var(--main-yellow);
    height: 60px;
    min-width: 100vw;
    border-bottom: solid;
    border-color: var(--dark-gray);
    border-width: 1px;
    font-family: 'Inter';
    font-size: 16px;
}
.nav-logo{
    font-size: 18px;
}
.navbar-brand{
    vertical-align:top;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-gray);
    display: flex;
}
.navbar-brand, img{
    vertical-align:top;
    height: 22px;
}
.navbar-toggler{
    border-style: none;
    position: relative;
    margin-left: 0;
    color: transparent;
    color: var(--dark-gray);
}
.nav-item{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 20px;
    color: var(--dark-gray);
}
.nav-link{
    color: var(--dark-gray);
}.nav-link:hover{
    color: black;
}
/***** Main content classes *****/
.space{
    height: 120px;
}
.small-space{
    height: 60px;
}
.card{
    border: none;
    background-color: transparent;
    max-width: 359px;
    min-width: 288px;
    height: 100%;
    margin-right: auto;
}
.d-flex{
    justify-content: space-around;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05); 
}
.card-img-top{
    max-width: 359px;
    min-width: 288px;
        height: auto;

}
.card-body{
    max-width: 359px;
    min-width: 288px;
    height: auto;

    height: fit-content;
    overflow-wrap: break-word;
    justify-content: space-between
}
.card-icon{
    width: 36px;
    height: 36px;
    position: relative;
    float: left;
}

.big-btn{
    font-family: 'JetBrains Mono';
    border-radius: 15px;
    background-color: #fff;
    min-height: 110px;
    max-height: 134px;
    width: 100%;
}
.big-btn-text{
    text-align: start;
}
.big-btn:hover{
    color: #fff;
    background-color: var(--dark-gray);
}
.container-arrow{
    display: flex;
    align-items: center;
    justify-content: end;
}
.arrow-icon{
    width: 27px;
    height: 22px;
    background-image: url(resources/arrow-black.png);
    background-size: cover;
    position: relative;
    right: 0;
}
.big-btn:hover .arrow-icon{
    width: 27px;
    height: 22px;
    background-image: url(resources/arrow-white.png);
    background-size: cover;
    text-align: left;
}
.btn-description{
    display: flex;
    position: relative;
    align-items: center;
}

/***** Footer *****/
footer{
    font-family: 'Inter';
    font-weight: 400;
    min-height: 150px;
    max-height: 190px;
    border-top: solid;
    border-width: 1px;
    border-color: var(--dark-gray);
    background-color: var(--main-yellow);
}

